**/bin/
**/obj/


**/.idea/

src/Shadowchats.Microservice.sln.DotSettings.user
tests/Shadowchats.Microservice.Tests.sln.DotSettings


src/Shadowchats.Microservice.Presentation/Properties

*.json
**/*.json
!*example.json
!**/*example.json
*.pfx
**/*.pfx
.gitattributes
